.clear  
.image-slider
  ul#slider1.rslides
    li
      img(src='images/slider3.jpg' alt='')
    li
      img(src='images/slider1.jpg' alt='')
    li
      img(src='images/slider2.jpg' alt='')
.content
  .quit
    p
      span.start Gives 
      |  you a 
      span.end warm feeling .
  .content-grids
    .wrap
      .content-grid
        .content-grid-pic
          a(href='#')
            img(src='images/icon1.png' title='image-name')
        .content-grid-info
          h3 Best food Ever
          p
            | &quot;Appetizers: GREEN LOVE CROSTINI
            | Salads &amp; More: GOURMET YAM TAOHU
            | Main Courses: CRISPY GNOCCHI WITH ARUGULA,...
            | Desserts: FRENCH PLUM CREPES, ...&quot;
          a(href='food.html') Read More
        .clear  
      .content-grid
        .content-grid-pic
          a(href='#')
            img(src='images/icon2.png' title='image-name')
        .content-grid-info
          h3 24x7 phone support
          p &quot;For us, the customer is king&quot;;
          a(href='contact.html') Read More
        .clear  
      .content-grid
        .content-grid-pic
          a(href='#')
            img(src='images/iocn3.png' title='image-name')
        .content-grid-info
          h3 Best Room Services
          p &quot;&quot;live the king&apos;s life with all services in your room&quot;&quot;;
          a(href='services.html') Read More
        .clear  
      .clear  
  .clear  
  .content-box
    .wrap
      .content-box-left
        .content-box-left-topgrid
          h3 welcome to our Hotel
          p  Feel Like Home :)
          p
            | When you come to us, visit the water &amp; marine park attractions for the day or dine at one of our award-winning restaurants, Atlantis promises to deliver extraordinary experiences. often. We are pleased to bring you a range of new and exciting entertainment options that you must try during your trip.
          span For more information about our Hotel, Call 980XXXXXXX
        .content-box-left-bootomgrids
          .content-box-left-bootomgrid
            h3 Deluxe Rooms
            p  Guest room, 1 King or 2 Twin/Single Bed(s)
            a(href='#')
              img(src='images/slider1.jpg' title='image-name')
          .content-box-left-bootomgrid
            h3 Luxury Rooms
            p Guest room, 1 King or 2 Twin/Single Bed(s), Pool access, Balcony
            a(href='#')
              img(src='images/slider2.jpg' title='image-name')
          .content-box-left-bootomgrid.lastgrid
            h3 Executive Rooms
            p Club lounge access, Guest room, 1 King or 2 Double
            a(href='#')
              img(src='images/slider3.jpg' title='image-name')
          .clear  
        .clear  
      .content-box-right
        .content-box-right-topgrid
          h3 To days Specials
          a(href='#')
            img(src='images/slider1.jpg' title='imnage-name')
          h4 Super Discount Offer
          p
            | &quot;For those seeking additional luxury and comfort
            | Size: 45 - 47 square metres
            | Views: The Palm or Aquaventure
            | Occupancy: 2 adults + 2 children
            | Bed type: a king size bed or queen size beds&quot;
          a(href='gallery.html') Read More
        .content-box-right-bottomgrid
      .clear 