.clear  
// -start-content---
.content
  .wrap
    // ---start--services----
    .services
      .service-content
        h3 Our Hotel Services
        ul
          li
            span 1.
          li
            p
              a(href='#') CULTURE SHOW
              |  Every Evening We . . . . .
          .clear  
        ul
          li
            span 2.
          li
            p
              a(href='#') SWIMMING POOL
              |  You can enjoy Swimming in the pool and relax with a drink. . .. . .
          .clear  
        ul
          li
            span 3.
          li
            p
              a(href='#') RESTAURANT
              |  You can have . . .
          .clear  
        ul
          li
            span 4.
          li
            p
              a(href='#') CONFERENCE HALL
              | Here You . . . .
          .clear  
        ul
          li
            span 5.
          li
            p
              a(href='#') SPA
              | Here . . . .
          .clear  
        ul
          li
            span 6.
          li
            p
              a(href='#') POOLSIDE BAR
              |  To chill. . .. .
          .clear  
      .services-sidebar
        h3 WE PROVIDE
        ul
          li
            a(href='#') other facility
          li
            a(href='#') other facility
          li
            a(href='#') other facility
          li
            a(href='#') other facility
          li
            a(href='#') other facility
          li
            a(href='#') other facility
      .clear  