.clear  
.content
  .wrap
    .services
      .service-content
        h3 Our Hotel Services
        ul
          li
            span 1.
          li
            p
              a(href='#') CULTURE SHOW
              |  We have one of the most sophisticated shows. Come join us....
          .clear  
        ul
          li
            span 2.
          li
            p
              a(href='#') SWIMMING POOL
              |  You can enjoy Swimming in the pool and relax with a drink. . .. . .
          .clear  
        ul
          li
            span 3.
          li
            p
              a(href='#') RESTAURANT
              |  You can have a booze or order at swiggy all at one place....
          .clear  
        ul
          li
            span 4.
          li
            p
              a(href='#') CONFERENCE HALL
              | Here You can do your buisness and relax, all at one go. . . .
          .clear  
        ul
          li
            span 5.
          li
            p
              a(href='#') SPA
              | Here you are for surprises. . . .
          .clear  
        ul
          li
            span 6.
          li
            p
              a(href='#') POOLSIDE BAR
              |  To chill, booze and fun. . .. .
          .clear  
      .services-sidebar
        h3 WE PROVIDE
        ul
          li
            a(href='https:www.swiggy.com') Swiggy
          li
            a(href='https:www.trivago.com') Trivago
          li
            a(href='https:www.foodpanda.com') foodpanda
          li
            a(href='https:www.bookmytrip.com') book my trip
          li
            a(href='https:www.zomato.com') zomato
          li
            a(href='#') other facility
      .clear  