.clear  
.content
  .wrap
    .about
      .about-grids
        .about-grid
          h3 About Our Hotel
          a(href='#')
            img(src='images/slider1.jpg' title='about')
          span &quot;Description about your hotel&quot;
          p  Feel like home.
          a.button1(href='#') Read More
        .about-grid.center-grid1
          h3 WHY CHOOSE US?
          p Your Description Here
          label Label Heading 
          p Your Description
          label Label heading
          p Your Description
        .about-grid.last-grid
          h3 Our Hotel&apos;s Staff Info.
          .about-team
            .client
              .about-team-left
                a(href='#')
                  img(src='images/c1.jpg' title='client-name')
              .about-team-right
                p  Staff&apos;s Description
              .clear  
            .client
              .about-team-left
                a(href='#')
                  img(src='images/c2.jpg' title='client-name')
              .about-team-right
                p Staff&apos;s Description
              .clear  
            .client
              .about-team-left
                a(href='#')
                  img(src='images/c1.jpg' title='client-name')
              .about-team-right
                p Staff&apos;s Description
              .clear  
            .client
              .about-team-left
                a(href='#')
                  img(src='images/c2.jpg' title='client-name')
              .about-team-right
                p Staff&apos;s Description
              .clear  
        .clear  
