.clear  
.content
  .wrap
    .about
      .about-grids
        .about-grid
          h3 About Our Hotel
          a(href='#')
            img(src='images/slider1.jpg' title='about')
          span
            | &quot;With our signature Marriott service and unmatched amenities, our hotel truly embodies a five-star experience. Relax in our spacious guest rooms and suites, which feature thoughtful details like private balconies and marble bathrooms.&quot;
          p  Feel like home.
          a.button1(href='index.html') Visit Home Page
        .about-grid.center-grid1
          h3 WHY CHOOSE US?
          p
            | Our hotel&apos;s central location in Bengaluru, India puts guests in the heart of the business district and close to the retail hub of UB City.
          label EVENTS AND FUNCTION 
          p
            | Host a wedding or business conference in one of our hotel&apos;s sophisticated and versatile event spaces, the largest of which can accommodate 500 guests.
          label LOCATION
          p
            | Located adjacent to Cubbon Park, our hotel features scenic views of one Bengaluru&apos;s most beloved public spaces.
        .about-grid.last-grid
          h3 Our Hotel&apos;s Staff Info.
          .about-team
            .client
              .about-team-left
                a(href='#')
                  img(src='images/c1.jpg' title='Syed Ibrahim')
              .about-team-right
                p
                  | Syed Ibrahim 
                  br
                  |  Manager
              .clear  
            .client
              .about-team-left
                a(href='#')
                  img(src='images/c2.jpg' title='Surya sharma ')
              .about-team-right
                p
                  | Surya sharma 
                  br
                  |  Asst.Manager
              .clear  
            .client
              .about-team-left
                a(href='#')
                  img(src='images/c1.jpg' title='Suleman Khan')
              .about-team-right
                p
                  | Suleman Khan 
                  br
                  |  Staff Head
              .clear  
            .client
              .about-team-left
                a(href='#')
                  img(src='images/c2.jpg' title='Allu Shekar')
              .about-team-right
                p
                  | Allu Shekar 
                  br
                  | Representative
              .clear  
        .clear 
