// color
$color1: white;
$color2: black;
$color3: #19508F;
$color4: #FF8C03;
$color5: #DC3927;
$color6: #33302D;
$color7: #8A92A6;
$color8: #FAFAFA;
$color9: #000000cc;
$color10: #ffffffcc;
$color11: red;
$color12: #6c7592;
$color13: rgba(255, 255, 255, 0.5);
$color14: #656565;
$color15: #cacaca;
$color16: #051242;
$color17: #ffffffcc;
$color18: #f2f2f2;
$color19: #f1f1f1;
$color20: rgba(25, 80, 143, 0.95);
$color21: #00000099;
$color22: #DADADA;
$color23: #255e9f;
$color24: #000000e6;
$color25: rgba(255, 255, 255, 0.8);
$color26: rgba(255, 255, 255, 0.9);
$color27: #f9f9f9;
$color28: #ebebeb;
$color29: #D9D9D9;
$color30: #DDEAF6;
$color31: #F0F0F0;
$color32: rgba(0, 0, 0, 0.8);
$color33: #FFFEFD;

// social color
$colorFacebook: #0067e4;
$colorYoutube: #f20000;
$colorTwitter: #4ca2e5;
$colorLinkedin: #0071ae;
$colorInstagram: #e2416c;
$colorVimeo: #19aede;
$colorTripAdvisor: #31d599;

// box shadow
$boxShadow1: 0px 0px 20px $color4;
$boxShadow2: 0px 0px 10px 2px #00000033;
$boxShadow3: 3px 1px 18px rgba(0, 0, 0, 0.1);
$boxShadow4: 5px 5px 5px 0px #0000001a;
$boxShadow5: 2px 2px 7px rgba(0, 0, 0, 0.15);

// radius
$radius1: 16px;
$radius2: 8px;
$radius3: 4px;

// text shadow
$textShadow1: 0px 5px 2px rgba(0,0,0,0.6);
$textShadow2: 0px 0px 20px $color4;

// fonts
$nameFont1: 'SVN-CenturyGothic';