.clear  
  .boxs
    .wrap
      .box
      .box.center-box
        ul
          li
            a(href='#') Leave a Feedback
          li
            a(href='#') Reviews and Ratings
          li
            a(href='#') FAQs
          li
            a(href='#') Packages
          li
            a(href='#') Know about Moutaineering and trekking here
      .box
      .clear  
  .copy-tight
    p &amp;copy HOTEL,Nepal 2017