.clear  
    .boxs
      .wrap
        .box
        .box.center-box
          ul
            li
              a(href='') Leave a Feedback
            li
              a(href='') Reviews and Ratings
            li
              a(href='') FAQs
            li
              a(href='') Packages
            li
              a(href='') Know about Moutaineering and trekking here
        #top123
          iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2566.016099536942!2d12.70335991507381!3d49.97355662949373!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47a07d66586dd1b3%3A0xe5d017ade63c8908!2sGourmet%20Hotel%20%26%20Restaurant%20VILLA%20PATRIOT!5e0!3m2!1svi!2s!4v1672791200285!5m2!1svi!2s' height='200px' width='450px' align='rights"')
        .clear  
    .copy-tight
      p &amp;copy HOTEL,Nepal 2017
