.header
  .wrap
    .header-top
      .logo
        a(href='index.html')
          img(src='images/logo2.png' title='logo')
      .contact-info
        p.phone
          | Call us : 
          a(href='contact.html') 980XXXXXXX
        p.gpa
          | Gpa : 
          a(href='https://www.google.com/maps/place/Gourmet+Hotel+%26+Restaurant+VILLA+PATRIOT/@49.9735566,12.7033599,17z/data=!3m1!4b1!4m8!3m7!1s0x47a07d66586dd1b3:0xe5d017ade63c8908!5m2!4m1!1i2!8m2!3d49.9735532!4d12.7055486?hl=vi') View map
      .clear  
  sticknav
    .header-top-nav
      .wrap
        ul
          li.active
            a(href='index.html') Home
          li
            a(href='about.html') About
          li
            a(href='services.html') Services
          li
            a(href='gallery.html') Gallery
          li
            a(href='contact.html') Contact
          .clear 

