.header
  .wrap
    .header-top
      .logo
        a(href='index.html')
          img(src='images/logo2.png' title='logo')
      .contact-info
        p.phone
          | Call us : 
          a(href='#') 980XXXXXXX
        p.gpa
          | Gpa : 
          a(href='#') View map
      .clear  
  sticknav
    .header-top-nav
      .wrap
        ul
          li.active
            a(href='index.html') Home
          li
            a(href='about.html') About
          li
            a(href='services.html') Services
          li
            a(href='gallery.html') Gallery
          li
            a(href='contact.html') Contact
          .clear 

